@import 'style.css';


/* cardStyles.css */
.custom-card {
    border: 1px solid #e5e5e5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .card-header {
    background-color: transparent;
    color: var(--text-color);
    height: 50px; /* 设置头部的高度为50px */
  display: flex;
  align-items: center; /* 垂直居中文本内容 */
  flex: 0;
  border-bottom: none;
  }
  
  
  .custom-card-body {
    display: inline-block;
    height: 200px;
  font-size: 16px;
  flex: 1; /* 伸展填充剩余空间 */
  
  padding:0;
  border-top: 1px dashed var(--border-color); /* 修改为 dashed 或 solid */
    
  }
  
  .card-img-top{
    margin: 8px 0;
  }

  .card-title{
    font-size: var(--card-title);
    color: var(--primary-color);
    margin-bottom: 0;
  }
  
  .card-post {
    font-style: italic;
    margin:  8px 16px;
  }
  
  .author {
    text-decoration: none;
  }
  
 
  .highlight{
    color: var(--primary-color);
  }

  .card-label{
    margin: 0px 16px;
    padding: 16px 0;
    border-top: 1px dashed var(--border-color); 
  }
  .margin-lr{
    margin: 0 16px;
  }

  @media screen and (max-width: 767px) {
    .card {
      flex-direction: row; /* 在小屏幕上水平排列内部元素 */
    }
  
    .card-header {
      height: auto;
      flex: 0;
    }
  
    .card-img-top {
      max-height: none; /* 恢复图像高度 */
    }
  
    .card-post {
      font-style: normal;
    }
  }
  
  